{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $width := .Get "width" -}}
{{- $iw := .Get "iw" -}}
{{- $ih := .Get "ih" -}}
<figure>
  <img src="{{ $src | relURL }}" alt="{{ $alt }}" loading="lazy" decoding="async"{{ with $iw }} width="{{ . }}"{{ end }}{{ with $ih }} height="{{ . }}"{{ end }}{{ with $width }} style="max-width:{{ . }};"{{ end }}>
  {{- with $caption }}<figcaption>{{ . | $.Page.RenderString }}</figcaption>{{- end }}
</figure>
